/* Your Website Styles */
body {
}

header {
  background: red;
  max-width: 100%;
  max-height:200px;
  text-align:center;
}

img {
  display:inline-block;
  margin: 0 auto;
  max-width: 100%;
}
nav#main {
  background: #2F045D;
  height: 132px;
  max-width: 100%;
  max-height: 150px;
}

#main ul {
  color:#fff;
  margin-top: 0;
  } 

#main li {
  color:#fff;
  font-family: 'Ubuntu' sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  display: inline;
  margin: 0% 1%;
}
ul>:first-child {
    visibility: hidden;
}

a {
 
  text-decoration: none;
}

.contact {
  background: green;
  padding: 1%;
  width: 100%;
}

.contact a {
  background: #000;
  border-radius: 50%;
  color:green;
  font-size: 80px;
  transition: 1.5s ease-in;
}

.contact a:hover {
  color:yellow;
  font-size: yellow;

}


/* Gallery Stying */
figure.item img {
  border-radius: 5px;

}
.gallery .control-button img {
  width:220px;
  height: 140px;
  margin: 10px;

}
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  width:100%;
}
.gallery .item {
  max-height: 850px;
  overflow: hidden;
  text-align: center;
  background: blue;
  margin-top: 1.5%;
  padding-top: 1.5%;

}
.gallery .controls {
  background: pink;
  margin-bottom: 1.5%;
  padding-top: 1.5%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border-radius: 5px;
  border: 5px solid #666;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}